<div class="container">
  <nav class="navbar navbar-dark bg-info">
    <a class="navbar-brand" href="./">
      <img src="./favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      {{projeto}}
    </a>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        {{title}}!
      </h1>
      <p class="lead">
        Repositorio sobre as atividades feitas em sala e as feitas em casa da materia de LPWEB (Linguagem de Programação para Web)
      </p>
      <hr class="my-4">
      <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let repo of repositorios">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{repo.nome}}</h5>
            <small>{{repo.datadecriacao}}</small>
          </div>
          <p class="mb-1">{{repo.objetivo}}</p>
          <small>
            <a href="{{repo.endereco}}" class="btn btn-outline-light bg-secondary" style="color: white;">Executar</a>
            <a href="{{repo.github}}" class="btn btn-outline-dark bg-secondary" style="color: black;">GitHub</a>
          </small>
        </a>
      </div>
    </div>
  </div>
</div>
