<div class="container">
    <nav class="navbar navbar-dark bg-info">
      <a class="navbar-brand" href="./">
        <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        {{projeto}}
      </a>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container"><h1 class="display-4">{{title}}!</h1></div>
    </div>
    <table class="table table-sm" *ngIf="!disciplinaaexibir">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nome</th>
                <th scope="col">Detalhes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let disciplina of disciplinas">
                <th scope="row">{{disciplina.codigo}}</th>
                <td>{{disciplina.nome}}</td>
                <td><button class="btn btn-info" (click)="exibirDisciplina(disciplina)">Detalhes</button></td>
            </tr>
        </tbody>
    </table>
  <button class="btn btn-warning" (click)="limpar()">Limpar</button>
    <div *ngIf="disciplinaaexibir">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Codigo</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" value="{{disciplinaaexibir.codigo}}" readonly>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput2">Nome</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" value="{{disciplinaaexibir.nome}}" readonly>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput3">Professor</label>
                <input type="text" class="form-control" id="exampleFormControlInput3" value="{{disciplinaaexibir.professor.nome}}" readonly>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput4">Descricao</label>
              <textarea type="text" class="form-control" id="exampleFormControlInput4" placeholder="{{disciplinaaexibir.descricao}}" readonly rows="10"></textarea>
            </div>
        </form>
    </div>
</div>
